.profile-pic-container,
.img-container-child:nth-child(odd) {
	@apply translate-x-2 translate-y-2;
}
.img-container-child:nth-child(even) {
	@apply -translate-x-2 -translate-y-2;
}
.profile-pic-container:hover .img-container-child:nth-child(odd) {
	@apply translate-x-3 translate-y-3;
}
.profile-pic-container:hover .img-container-child:nth-child(even) {
	@apply -translate-x-3 -translate-y-3;
}
.profile-pic-container img {
	filter: grayscale(1);
}
.profile-pic-container:hover img {
	filter: none;
}

.with-dot {
	@apply relative pl-6 lg:pl-8;
}
.with-dot::before {
	@apply absolute left-px p-px text-green;
	content: "▹";
}
/* main > section#content {
	min-height: calc(100vh - 100px);
} */
.project-link::before {
	content: "";
	@apply absolute top-0 bottom-0 right-0 left-0;
}
.project-link:focus,
.project-link:hover {
	@apply text-green;
}
